COMPOSE_PROJECT_NAME=infra-platform
TZ=America/Santo_Domingo
DOMAIN=example.com
ACME_EMAIL=admin@example.com

TRAEFIK_DASHBOARD_HOST=traefik.example.com
TRAEFIK_IMAGE=traefik:v3.7.9
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_DASHBOARD_AUTH=admin:$2y$05$CHANGE_THIS_BCRYPT_HASH

HOMEPAGE_HOST=infra.example.com
PORTAINER_HOST=portainer.example.com
UPTIME_HOST=uptime.example.com
PROMETHEUS_HOST=prometheus.example.com
GRAFANA_HOST=grafana.example.com
DOZZLE_HOST=logs.example.com
MINIO_HOST=s3.example.com
MINIO_CONSOLE_HOST=minio.example.com
EMQX_HOST=mqtt.example.com
RABBITMQ_HOST=rabbitmq.example.com
REGISTRY_HOST=registry.example.com
GITEA_HOST=git.example.com
PGADMIN_HOST=pgadmin.example.com
PHPMYADMIN_HOST=phpmyadmin.example.com
REDIS_COMMANDER_HOST=redis.example.com
ADMINER_HOST=adminer.example.com
WEBMAIL_HOST=webmail.example.com

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
PROMETHEUS_RETENTION=30d

POSTGRES_DB=platform
POSTGRES_USER=platform
POSTGRES_PASSWORD=CHANGE_ME
MYSQL_DATABASE=platform
MYSQL_USER=platform
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=CHANGE_ME
REDIS_COMMANDER_USER=admin
REDIS_COMMANDER_PASSWORD=CHANGE_ME

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME

EMQX_DASHBOARD_USER=admin
EMQX_DASHBOARD_PASSWORD=CHANGE_ME
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=CHANGE_ME
RABBITMQ_VHOST=/

MAIL_HOSTNAME=mail
MAIL_DOMAIN=example.com
POSTMASTER_ADDRESS=postmaster@example.com
ROUNDCUBE_DB_NAME=roundcubemail
ROUNDCUBE_DB_USER=roundcube
ROUNDCUBE_DB_PASSWORD=CHANGE_ME
ROUNDCUBE_DB_ROOT_PASSWORD=CHANGE_ME

GITEA_DB_NAME=gitea
GITEA_DB_USER=platform
GITEA_DB_PASSWORD=CHANGE_ME
GITEA_SSH_PORT=2222

TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_ID=0

RESTIC_REPOSITORY=/repository
RESTIC_PASSWORD=CHANGE_ME
BACKUP_CRON=0 2 * * *
RCLONE_DROPBOX_REMOTE=dropbox
RCLONE_DROPBOX_PATH=infra-platform/backups
