COMPOSE_PROJECT_NAME=infra-platform
TZ=America/Santo_Domingo
VPS_PUBLIC_IP=94.72.114.98
DOMAIN=daertechglobal.com
ACME_EMAIL=infraestructura@daertechglobal.com

TRAEFIK_DASHBOARD_HOST=traefik.daertechglobal.com
TRAEFIK_IMAGE=traefik:v3.7.9
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_DASHBOARD_AUTH=admin:REPLACE_WITH_ESCAPED_BCRYPT_HASH

HOMEPAGE_HOST=infra.daertechglobal.com
PORTAINER_HOST=portainer.daertechglobal.com
UPTIME_HOST=uptime.daertechglobal.com
PROMETHEUS_HOST=prometheus.daertechglobal.com
GRAFANA_HOST=grafana.daertechglobal.com
DOZZLE_HOST=logs.daertechglobal.com
MINIO_HOST=s3.daertechglobal.com
MINIO_CONSOLE_HOST=minio.daertechglobal.com
EMQX_HOST=mqtt.daertechglobal.com
RABBITMQ_HOST=rabbitmq.daertechglobal.com
REGISTRY_HOST=registry.daertechglobal.com
GITEA_HOST=git.daertechglobal.com
PGADMIN_HOST=pgadmin.daertechglobal.com
PHPMYADMIN_HOST=phpmyadmin.daertechglobal.com
REDIS_COMMANDER_HOST=redis.daertechglobal.com
ADMINER_HOST=adminer.daertechglobal.com
WEBMAIL_HOST=webmail.daertechglobal.com

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
PROMETHEUS_RETENTION=30d

POSTGRES_DB=platform
POSTGRES_USER=platform
POSTGRES_PASSWORD=CHANGE_ME
MYSQL_DATABASE=platform
MYSQL_USER=platform
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME

PGADMIN_EMAIL=infraestructura@daertechglobal.com
PGADMIN_PASSWORD=CHANGE_ME
REDIS_COMMANDER_USER=admin
REDIS_COMMANDER_PASSWORD=CHANGE_ME

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME

EMQX_DASHBOARD_USER=admin
EMQX_DASHBOARD_PASSWORD=CHANGE_ME
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=CHANGE_ME
RABBITMQ_VHOST=/

MAIL_HOSTNAME=mail
MAIL_DOMAIN=daertechglobal.com
POSTMASTER_ADDRESS=postmaster@daertechglobal.com
ROUNDCUBE_DB_NAME=roundcubemail
ROUNDCUBE_DB_USER=roundcube
ROUNDCUBE_DB_PASSWORD=CHANGE_ME
ROUNDCUBE_DB_ROOT_PASSWORD=CHANGE_ME

GITEA_DB_NAME=gitea
GITEA_DB_USER=platform
GITEA_DB_PASSWORD=CHANGE_ME
GITEA_SSH_PORT=2222
GITEA_RUNNER_REGISTRATION_TOKEN=CHANGE_ME_AFTER_GITEA_SETUP
GITEA_RUNNER_NAME=infra-runner-01
GITEA_RUNNER_LABELS=ubuntu-latest:docker://node:22-bookworm

TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_ID=0

RESTIC_REPOSITORY=/repository
RESTIC_PASSWORD=CHANGE_ME
BACKUP_CRON=0 2 * * *
RCLONE_DROPBOX_REMOTE=dropbox
RCLONE_DROPBOX_PATH=infra-platform/backups
