COMPOSE_PROJECT_NAME=daertech-platform
TZ=America/Santo_Domingo

POSTGRES_DB=daertech_platform
POSTGRES_USER=daertech
POSTGRES_PASSWORD=CHANGE_ME_STRONG
POSTGRES_PORT=5432

REDIS_PASSWORD=CHANGE_ME_STRONG
REDIS_PORT=6379

JWT_SECRET=CHANGE_ME_AT_LEAST_64_CHARACTERS
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

ADMIN_NAME=José Rafael Santos Rosario
ADMIN_EMAIL=admin@daertechglobal.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME_STRONG

FRONTEND_PORT=4200
BACKEND_PORT=8080
PUBLIC_FRONTEND_URL=https://infra.daertechglobal.com
PUBLIC_API_URL=https://api-infra.daertechglobal.com

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
RCLONE_REMOTE=dropbox
RCLONE_BACKUP_PATH=infra-platform/backups
